<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Book Search</strong></h3>
            </div>
            <div class="panel-body">
                <input type="text" id="book-search" class="form-control" >
                <br>
                <div class="text-right">
                    <button class="btn btn-primary btn-md" id="search-btn"><span class="glyphicon glyphicon-search"></span> Search</button>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Author Search</strong></h3>
            </div>
            <div class="panel-body">
                <input type="text" id="author-search" class="form-control">
                <br>
                <div class="text-right">
                    <button class="btn btn-primary btn-md" id="author-search-btn"><span class="glyphicon glyphicon-search"></span> Search</button>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Genre Search</strong></h3>
            </div>
            <div class="panel-body">
                <input type="text" id="genre-search" class="form-control">
                <br>
                <div class="text-right">
                    <button class="btn btn-primary btn-md" id="genre-search-btn"><span class="glyphicon glyphicon-search"></span> Search</button>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Book Search Results</strong></h3>
            </div>
            <div class="panel-body">
                <div class="well" id="stats" hidden="true">
                    <h2 id="title"></h2>
                    <div>
                        <h3><strong>Author:</strong> <span id="author"></span></h3>
                        <h3><strong>Genre:</strong> <span id="genre"></span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>			
</div>
