.playgames{
   margin: 0px;
   padding: 130px 45px;
}

section {
	height: 175px;
	background-color: #ffffff;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

article{
	color: #ffffff;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.jumbotron{
	text-align:center;
}
.panel-heading{
	text-align:center;

}

.number{
	font-size: 48px;
	text-align: center;

}

.crystal{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumbnail{
	border-radius: 25px;
	margin-left: 45px;
	margin-right: 45px;
}
.crystalimg{
	width:auto;
	height: 95px;
	padding-left:20%;
	padding-right:20%;
}

.caption{
	text-align: center;
}